<div class="container-fluid">
  <div class="col-12">
    <h2>Available Courses</h2>
    <ul class="list-group">
      <li [ngClass]="{'active': course.id == selectedCourse._id}"
          *ngFor="let course of courses"
          class="list-group-item">
        <p>
          {{course.title}}
        </p>
        <div>
          <button [routerLink]="['/courses/', course.id]">
            View
          </button>
          <button [routerLink]="['/sections/']">
            Enroll
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
